/*dailycard.css*/
.dailyCard {
	width: 600px;
	height: 70vh;
	padding: 60px 25px;
	border-radius: 20px;
	background-color: #fafafa;
	box-shadow: 0 0 150px rgba(0,0,0,.6);
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 500;
}
.tithead {
	font-weight: 200;
	color: #507ac7;
	margin-bottom: 120px;
}
.times {
	width: 100%;
	font-size: 0;
	margin-bottom: 40px;
}
.tItem {
	display: inline-block;
	vertical-align: top;
	width: 50%;
	text-align: center;
	font-size: 30px;
}
.tItem>img {
	width: 100px;
	height: 100px;
}
.astro {
	font-size: 24px;
	line-height: 34px;
	color: #666;
}
.maxmin {
	text-align: center;
	font-size: 30px;
	line-height: 40px;
	margin-bottom: 5px;
}
.wind {
	text-align: center;
	font-size: 26px;
	line-height: 36px;
	color: #888;
}
.others {
	list-style: none;
	font-size: 0;
	padding: 40px 0;
}
.others>li {
	padding: 10px 0 10px 40px;
	display: inline-block;
	width: 50%;
	font-size: 26px;
	line-height: 60px;
	color: #666;
}
.others>li>span {
	font-size: 28px;
	color: #507ac7;
}